body {
  color: #ebe3de;
  background-color: #080504;
}
.range-wrap {
  position: relative;
  width: 60vw;
  margin: 0 auto 3rem;
}
.labels span {
  position: absolute;
  left: calc(
    6px + (100% - 10px) *
      ((var(--val) - var(--min)) / (var(--max) - var(--min)))
  );
  user-select: none;
}
.labels span::before {
  padding: 0;
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  background-color: #c34346;
  pointer-events: none;
  transform: translateY(-30px);
}
span p {
  transform: translateX(2px) translateY(5px) rotate(45deg);
  transform-origin: top left;
  margin: 0;
}
.range {
  width: 60vw;
  height: 20px;
  appearance: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #fcf3ee;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #8ec6ff;
  border: none;
  height: 40px;
  width: 10px;
  cursor: col-resize;
  border-radius: 5px;
}
.range::-moz-range-thumb {
  appearance: none;
  background-color: #8ec6ff;
  border: none;
  height: 40px;
  width: 10px;
  cursor: col-resize;
  border-radius: 5px;
}
body {
  margin: 2rem;
}
#sliderValue {
  width: 20%;
  margin: 120px;
}
